* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid lime; */
}

:root {
  --clr-background: rgb(34, 37, 43);
  --clr-accent-1: hsl(220, 12%, 20%);
  --clr-accent-2: hsl(220, 12%, 25%);
  --clr-accent-3: hsla(220, 12%, 25%, 0.5);
  --clr-text-1: hsl(0, 0%, 85%);
  --clr-text-2: hsl(0, 0%, 70%);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-background);
  font-family: "Rock Salt", cursive;
  color: var(--clr-text-1);
}

.header {
  position: absolute;
  font-family: "Lacquer", system-ui;
  width: 100%;
  top: 4rem;
  left: 50%;
  translate: -50% -50%;
  font-size: 2rem;
  text-align: center;
}

.container-start {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 100dvh;
  width: 100%;
  margin-top: 7rem;
}

.cricket-startnumbers {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cricket-startnumbers input {
  position: relative;
  border-radius: 100vh;
  border: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  width: 100px;
  text-align: center;
  margin-bottom: 8px;
  background: var(--clr-accent-1);
}

.cricket-startnumbers label {
  position: relative;
  top: 8px;
  left: -1rem;
  z-index: 1;
  font-size: 0.5rem;
  font-weight: bold;
  background-color: var(--clr-background);
  padding: 3px 10px;
  border-radius: 100vh;
}

.cricket-startplayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cricket-startplayer input {
  border-radius: 100vh;
  border: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  width: 175px;
  text-align: center;
  margin-bottom: 1rem;
  background: var(--clr-accent-1);
}

.cricket-startplayer label {
  position: relative;
  top: 8px;
  left: -40px;
  z-index: 1;
  font-size: 0.5rem;
  font-weight: bold;
  background-color: var(--clr-background);
  padding: 3px 10px;
  border-radius: 100vh;
}

.cricket-startplayer button {
  padding: 0.5rem 1rem;
  font-family: "Lacquer", system-ui;
  font-size: 1rem;
  border-radius: 100vh;
  border: none;
  margin-bottom: 2rem;
  color: var(--clr-background);
  background: var(--clr-text-1);
}

.playerlist {
  font-family: "Lacquer", system-ui;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: left;
}

.players {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;
  list-style: none;
  font-size: 1.75rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.start-game {
  position: relative;
}

.start-game button {
  position: absolute;
  left: -14rem;
  top: 36rem;
  padding: 1rem 2rem;
  font-family: "Lacquer", system-ui;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 100vh;
  border: none;
  color: var(--clr-background);
  background: var(--clr-text-1);
}

.container-game {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100dvh;
  width: 100%;
  overflow-x: hidden;
}

.container-player {
  display: grid;
  grid-auto-flow: column;
  min-width: 0;
  overflow-x: auto;
  white-space: nowrap;
}

.player {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.player-info {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background: var(--clr-accent-1);
  border-bottom: 1px dotted var(--clr-accent-3);
}

.playerName {
  font-family: "Lacquer", system-ui;
  font-size: 1.25rem;
}

.playerScore {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.null-score {
  position: relative;
  grid-column: span 2;
  font-family: "Lacquer", system-ui;
  background: var(--clr-accent-1);
}

.null-score img {
  position: absolute;
  height: 90%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.undo {
  position: relative;
  background: var(--clr-accent-1);
}

.undo img {
  position: absolute;
  height: 5vh;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.container-cricketnumbers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-left: 1px dotted var(--clr-accent-3);
}

.cricketnumber {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.target {
  background: var(--clr-background);
  border-bottom: 1px dotted var(--clr-accent-3);
}

.singlenumber {
  background: var(--clr-background);
  font-weight: bold;
  border-bottom: 1px dotted var(--clr-accent-3);
}

.doublenumber {
  background: var(--clr-accent-1);
  border-bottom: 1px dotted var(--clr-accent-3);
}

.triplenumber {
  background: var(--clr-accent-2);
  border-bottom: 1px dotted var(--clr-accent-3);
}
