* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid lightcoral; */
}

:root {
  --clr-primary: hsl(0, 0%, 74%);
  --clr-secondary: hsl(0, 0%, 61%);
  --clr-third: hsla(0, 0%, 91%, 0.342);
  --clr-accent: hsl(0, 0%, 80%);
  --clr-accent2: hsl(0, 0%, 70%);
  --clr-accent3: hsl(0, 0%, 60%);
  --clr-background: hsl(0, 0%, 58%);
}

body {
  background: var(--clr-background);
  color: whitesmoke;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: var(--clr-background);
}

.cricket-start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10%;
}

.cricket-start input {
  font-size: 1rem;
  border-radius: 100vh;
  border: none;
  line-height: 3;
  width: 150px;
  text-align: center;
  background: var(--clr-third);
}

.cricket-start button {
  font-size: 1rem;
  border-radius: 100vh;
  border: none;
  line-height: 3;
  width: 100px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.header {
}

.container-game {
  display: grid;
  grid-template-columns: minmax(6rem, 60%) minmax(4rem, 40%);
  grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100dvh;
  overflow-x: auto;
}

.score-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(2rem, 1fr);
}

.player-info {
  line-height: 4;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.target-check {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(2rem, 1fr);
  align-content: stretch;
  text-align: center;
}

.undo-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
}

.undo-btn {
  place-content: center;
}

.undo-btn img {
  height: 4vh;
}

.null-btn img {
  height: 7.5vh;
}

.null-btn {
  place-content: center;
  border-left: 1px solid black;
  background: rgb(114, 95, 95);
}

.target-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border-left: 1px solid black;
}

.target-btn {
  place-content: center;
  background: hsla(0, 0%, 35%, 0.2);
}

.target-btn2 {
  place-content: center;
  background: rgba(75, 60, 60, 0.15);
}
